<table class="table table-striped">
    <thead>
    <tr>
        @THead
    </tr>
    </thead>
    <tbody>
        @TBody
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment THead { get; set; }
    
    [Parameter]
    public RenderFragment TBody { get; set; }
}