@page "/policies"
@inject WebClient Web

<PageTitle>Policy List</PageTitle>

<h3>Policy List</h3>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Key</th>
                <th>Created</th>
                <th>Last Update</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var policy in Policies)
            {
                <tr>
                    <td><a href="/policy/@policy.Key">@policy.Key</a></td>
                    <td>@policy.Created</td>
                    <td>@policy.Updated</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<PolicyView> Policies { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        Policies = await Web.Get<List<PolicyView>>("/policy");
    }
}