@page "/policies"
@using shared.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Policy List</PageTitle>

<h3>Policy List</h3>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Key</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var policy in Policies)
            {
                <tr>
                    <td><a href="/policy/@policy.Key">@policy.Key</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Policy> Policies { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Policies = await Http.GetFromJsonAsync<List<Policy>>("/policy") ?? new List<Policy>();
        }
        catch (AccessTokenNotAvailableException e)
        {
            e.Redirect();
        }
    }
}