@page "/policy/{key}"
@using shared.Models
@inject HttpClient Http

<PageTitle>Policy Edit - @Key</PageTitle>

<h3>Policy Edit - @Key</h3>

<div class="card">
    <div class="card-body">
        @if (Policy != null)
        {
            <pre>@Policy.PolicyText</pre>
        }
        else
        {
            <span>Loading...</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Key { get; set; }
    
    private Policy? Policy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Policy = (await Http.GetFromJsonAsync<List<Policy>>("/policy"))!
            .FirstOrDefault(x => x.Key == Key);
    }

}