@page "/organization/{Id:guid}"
@using ui.Models
@using shared.UpdateModels
@using shared.Models
@inject ToastService Toaster
@inject IOrganizationController OrganizationService

<PageTitle>Organization Edit</PageTitle>

<h3>Organization Edit</h3>

<Card>
    <div>
        <a class="btn btn-secondary" href="/organization/@Id/create-app">Create App</a>
    </div>
    
    <div class="form-group">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" id="name" type="text" @bind="Name">
    </div>
    <div class="form-group">
        <button @onclick="SaveBasics" class="btn btn-primary">Save Basics</button>
    </div>

    <hr/>

    <div class="form-group">
        <span class="form-label">Metadata:</span>
        <MetaData Value="Meta"/>
    </div>
    <div class="form-group">
        <button @onclick="SaveMetadata" class="btn btn-primary">Save Metadata</button>
    </div>

    <hr/>

    <div class="form-group">
        <span class="form-label">Private Metadata:</span>
        <MetaData Value="PrivateMeta"/>
    </div>
    <div class="form-group">
        <button @onclick="SavePrivateMetadata" class="btn btn-primary">Save Private Metadata</button>
    </div>

    <hr/>
</Card>
<br/>
<Card>
    <h5>Credentials</h5>
    <a href="/credential-create/@Id" class="btn btn-primary">Create</a>
    <Table>
        <THead>
        <th>Name</th>
        <th>Kind</th>
        <th>Is Managed</th>
        </THead>
        <TBody>
        @foreach (var credential in Credentials)
        {
            <tr>
                <td><a href="/credential/@credential.Id">@credential.Name</a></td>
                <td>@credential.Kind</td>
                <td>@credential.IsManaged</td>
            </tr>
        }
        </TBody>
    </Table>
</Card>

@code {
    public string Title = "Organization Edit - ";
    
    [Parameter]
    public Guid Id { get; set; }

    private string Name { get; set; } = "";
    public List<KeyValue> Meta = new List<KeyValue>();
    public List<KeyValue> PrivateMeta = new List<KeyValue>();

    private List<Credential> Credentials { get; set; } = new List<Credential>(); 

    protected override async Task OnInitializedAsync()
    {
        // TODO: Error handle this lol
        var response = await OrganizationService.GetOrg(Id);

        Name = response.Name;

        Title += Name;

        Meta.AddRange(response.Metadata.GetKvList());
        
        PrivateMeta.AddRange(response.PrivateMetadata.GetKvList());
        
        Credentials = await OrganizationService.GetCredentials(Id);
    }

    public async Task SaveBasics()
    {
        var request = new UpdateOrganization()
        {
            Name = Name
        };

        try
        {
            await OrganizationService.Update(Id, request);
            
            Toaster.AddSuccess("Basics Saved");
        }
        catch (Exception e)
        {
            Toaster.AddError(e);
        }
    }

    public async Task SaveMetadata()
    {
        var request = Meta.GetDictionary();

        try
        {
            await OrganizationService.UpdateMetadata(Id, request);

            Toaster.AddSuccess("Metadata Saved");
        }
        catch (Exception e)
        {
            Toaster.AddError(e);
        }
    }
    
    public async Task SavePrivateMetadata()
    {
        var request = PrivateMeta.GetDictionary();

        try
        {
            await OrganizationService.UpdatePrivateMetadata(Id, request);

            Toaster.AddSuccess("Private Metadata Saved");
        }
        catch (Exception e)
        {
            Toaster.AddError(e);
        }
    }
}