@page "/job/{Id:guid}"
@using shared.Models.Job
@using ui.Models
@using shared.Models
@implements IDisposable

@inject HttpClient Http

<h3>Job View</h3>

@if (Job == null)
{
    return;
}

<h5>Job Status: <span class="text-@Job.Status">@Job.Status</span></h5>

@if (SelectedOrdinal.HasValue)
{
    <Card>
        <pre style="display: flex; flex-direction: column-reverse; max-height: 250px; overflow-y: scroll">@Output</pre>
    </Card>
}

@foreach (var stage in Stages)
{
    <div class="row" style="padding: 0.5rem">
        @stage.Name
        <hr/>
        @foreach (var step in stage.Steps)
        {
            <div @onclick="async () => await SelectOrdinal(step.Ordinal)" 
                 class="col-md-2 border border-3 rounded border-@step.Status">
                @step.Name
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    
    private int? SelectedOrdinal { get; set; }
    private string Output { get; set; } = "";
    
    private System.Timers.Timer _timer = new ();
    private Job? Job { get; set; }
    private List<ViewStage> Stages { get; set; } = new List<ViewStage>();

    protected override async Task OnInitializedAsync()
    {
        Job = (await Http.GetFromJsonAsync<Job>($"/job/{Id}/safe"))!;
        UpdateStages(Job);

        if (Job.Status != "success" && Job.Status != "error")
        {
            _timer.Interval = 5000;
            _timer.Elapsed += async (_, _) =>
            {
                await UpdatePage();
                await UpdateOutput();
                await InvokeAsync(StateHasChanged);
            };
            _timer.Enabled = true;
        }
    }

    private void UpdateStages(Job job)
    {
        Stages = job.Stages.Select(stage => new ViewStage()
        {
            Name = stage.Name, 
            Steps = job.Steps.Where(x => x.Stage == stage.Name).ToList()
        }).ToList();
    }

    private async Task SelectOrdinal(int i)
    {
        if (SelectedOrdinal == i)
        {
            // Toggle it
            SelectedOrdinal = null;
            return;
        }
        
        SelectedOrdinal = i;
        await UpdateOutput();
    }

    private async Task UpdateOutput()
    {
        if (!SelectedOrdinal.HasValue)
        {
            return;
        }
        
        var output = await Http.GetFromJsonAsync<SimpleValue>($"/job/{Job!.Id}/step/{SelectedOrdinal}/output");
        if (output != null)
        {
            Output = output.Value;
        }
    } 

    private async Task UpdatePage()
    {
        Job = (await Http.GetFromJsonAsync<Job>($"/job/{Id}/safe"))!;
        UpdateStages(Job);

        if (Job.Status == "success" || Job.Status == "error")
        {
            _timer.Enabled = false;
        }
    }

    // I don't need memory leaks
    public void Dispose()
    {
        _timer.Dispose();
    }
}