<div class="card">
  <div class="card-header">
    Global Policy List
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td><a [routerLink]="'/policy/edit/' + row.key">{{row.key}}</a></td>
          <td>{{row.created}}</td>
          <td>{{row.updated}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
