@page "/pipeline-create"
@page "/pipeline/{id:guid}"
@using shared.Models.Pipeline
@using Microsoft.AspNetCore.Components

@inject IPipelineController PipelineService
@inject ToastService ToastService
@inject NavigationManager Nav

<h3>Pipeline Edit</h3>

<PageTitle>Pipeline Edit</PageTitle>

<Card>
    <div class="mb-3">
        <label class="form-label" for="field-name">Name</label>
        <input type="text" id="field-name" class="form-control" @bind="Pipeline.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="field-description">Description</label>
        <textarea id="field-description" class="form-control" @bind="Pipeline.Description"></textarea>
    </div>
    <button onclick="@Save" class="btn btn-primary">Save</button>
</Card>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    // This defaults to an edit model but it'll be replaced if needed
    private Pipeline Pipeline { get; set; } = new Pipeline();

    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            Pipeline = await PipelineService.GetPipeline(Id.Value);
        }
    }

    private async Task Save()
    {
        if (!Id.HasValue)
        {
            try
            {
                var response = await PipelineService.CreatePipeline(Pipeline);

                ToastService.AddSuccess("Saved");
                Nav.NavigateTo($"/pipeline/{response.Id}");
            }
            catch (Exception)
            {
                ToastService.AddError("Error Creating Pipeline");
            }
        }
        else
        {
            try
            {
                var response = await PipelineService.UpdatePipeline(Id.Value, Pipeline);
                
                ToastService.AddSuccess("Saved");
            }
            catch (Exception)
            {
                ToastService.AddError("Error Updating Pipeline");
            }
        }
    }
}