@page "/pipelines"
<h3>@Title</h3>

<PageTitle>@Title</PageTitle>

<Card>
    <Table>
        <THead>
        <th>Name</th>
        <th>Created</th>
        <th>Updated</th>
        </THead>
    </Table>
</Card>

@code {
    const string Title = "Pipeline List";
}