@page "/credential/{Id:guid}"
@inject IOrganizationController OrganizationService

@inject HttpClient Http

<h3>Credential Edit</h3>

@if (Cred == null)
{
    <span>Loading...</span>
    return;
}

<Card>
    <div>Credential Name: @Cred.Name</div>
    <div>Kind: @Cred.Kind</div>
    <div>Is Managed: @Cred.IsManaged</div>
    
    <CredentialEditStatic Id="Id" Cred="Cred"></CredentialEditStatic>
</Card>

@code {
    [Parameter]
    public Guid Id { get; set; }
    
    private Credential? Cred { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Cred = await OrganizationService.GetCredential(Id);
    }

}