@using shared.Models
@using ui.Models

@inject ToastService Toaster
@inject IOrganizationController OrganizationService

<hr>

<h5>Info</h5>

<div class="form-group">
    <label>Role Arn</label>
    <input type="text" class="form-control" @bind="RoleArn">
</div>

<hr>
<button class="btn btn-primary" @onclick="Save">Save</button>

@code {
    [Parameter]
    public Credential Cred { get; set; }
    
    [Parameter]
    public Guid Id { get; set; }

    private string RoleArn { get; set; } = "";

    protected override void OnInitialized()
    {
        if (Cred.Data.ContainsKey("role"))
        {
            RoleArn = Cred.Data["role"];
        }
    }

    private async Task Save()
    {
        var request = new Dictionary<string, string>()
        {
            { "role", RoleArn }
        };

        try
        {
            await OrganizationService.UpdateCredentialData(Id, request);
            
            Toaster.AddSuccess("Credential Saved");
        }
        catch (Exception e)
        {
            Toaster.AddError(e);
        }
    }
}