@page "/things"
@using shared.Models
@inject OrganizationService OrgService
@inject HttpClient Http

<h3>@Title</h3>
<PageTitle>@Title</PageTitle>

<Card>
    <Table>
        <THead>
        <th>Name</th>
        <th>Org</th>
        </THead>
        <TBody>
        @foreach (var thing in _things)
        {
            <tr>
                <td><a href="/thing/@thing.Id">@thing.Name</a></td>
                <td>@OrgService.GetName(thing.OrganizationId)</td>
            </tr>
        }
        </TBody>
    </Table>
</Card>

@code {
    const string Title = "Thing List";
    private List<Thing> _things = new ();

    protected override async Task OnInitializedAsync()
    {
        // Don't need the return value, just need to make sure the list is populated
        await OrgService.GetOrganizations();

        _things = await Http.GetFromJsonAsync<List<Thing>>("/thing") ?? new List<Thing>();
    }

}