<div class="card">
  <div class="card-header">Editing Organization - main</div>
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <span class="nav-link" (click)="activeTab = 'general'" [class.active]="activeTab === 'general'">General</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" (click)="activeTab = 'policy'" [class.active]="activeTab === 'policy'">Policy</span>
        <!--<span class="nav-link disabled" aria-disabled="true">Policy</span>-->
      </li>
    </ul>
    <hr>
    <!-- content divs go here -->
    <div *ngIf="activeTab === 'general'">
      <div>
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="group-action">
        <button class="btn btn-primary">Save Basic Info</button>
      </div>
      <hr>
      <div>
        <label class="form-label">Metadata</label>
        <table class="table">
          <tr *ngFor="let m of metadata">
            <td><input placeholder="key" type="text" class="form-control" [(ngModel)]="m.key"></td>
            <td><input placeholder="value" type="text" class="form-control" [(ngModel)]="m.value"></td>
            <td><button (click)="removeRow('metadata', m.key)" class="btn btn-danger">Remove</button></td>
          </tr>
        </table>
      </div>
      <div class="group-action">
        <button class="btn btn-secondary" (click)="addRow('metadata')">Add Row</button>
        &nbsp;
        <button class="btn btn-primary">Save Metadata</button>
      </div>
      <hr>
      <div>
        <label class="form-label">Private Metadata</label>
        <table class="table">
          <tr *ngFor="let m of privateMetadata">
            <td><input placeholder="key" type="text" class="form-control" [(ngModel)]="m.key"></td>
            <td><input placeholder="value" type="text" class="form-control" [(ngModel)]="m.value"></td>
            <td><button (click)="removeRow('private', m.key)" class="btn btn-danger">Remove</button></td>
          </tr>
        </table>
      </div>
      <div class="group-action">
        <button class="btn btn-secondary" (click)="addRow('private')">Add Row</button>
        &nbsp;
        <button class="btn btn-primary">Save Private Metadata</button>
      </div>
      <hr>
    </div>

    <div *ngIf="activeTab === 'policy'">
      <app-editor></app-editor>
      <div class="group-action">
        <button class="btn btn-primary">Save Policy</button>
      </div>
    </div>
  </div>
</div>
